
#container{
  transition: .3s;
  /* border: 1px solid red */
}

.mainContainer{
  max-width: 900px;
  margin: 0 auto;
  box-shadow: 0 0 0 10px #fff,
                0 15px 50px;
  /* overflow: hidden; */
}
.slider{
  position :relative;
  display: flex; 
}
.dataItem{
  font-family: sans-serif;
  padding: 1em;
  text-align: center;
  flex-basis: 50%;
}
.dataItem-info{
  border: 1px solid blue;
  padding: 1em;

}
.animation{
  animation: slide .6s;
  /* animation: slide .6s cubic-bezier(0.175, 0.885, 0.32, 1.275) */
}
@keyframes slide{
  from{
      transform: translateX(0);
  }
}